{% load static %}

<header class="container-fluid p-3 mb-3 border-bottom" style="width: 90vw;">
    <!-- Page navigator -->
    <nav class="nav navbar navbar-expand-lg navbar-light d-flex align-center justify-content-between flex-wrap">
        <!-- 로고 -->
        <a class="navbar-brand " href="{% url 'core:home' %}">
            한국외국어대학교
        </a>



        <!-- 주요 링크 -->
        <div class="collapse navbar-collapse col-12 col-lg-auto me-lg-auto mb-md-0 ms-3" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center text-nowrap ">

                <li><a href="{% url 'core:home' %}" class="nav-link px-2 link-secondary">홈페이지</a></li>

                <li class="nav-item mx-2 col ">
                    <a class="nav-link active" aria-current="page" href="{% url 'checklist:home' %}">
                        전공이수체크
                    </a>
                </li>
                <li class="nav-item mx-2 col ">
                    <a class="nav-link active" aria-current="page" href="{% url 'qanda:home' %}">
                        Q & A
                    </a>
                </li>
                <li class="nav-item mx-2 col ">
                    <a class="nav-link active" aria-current="page" href="{% url 'free:home' %}">
                        자유게시판
                    </a>
                </li>
                <div class="btn-group mx-2 col dropdown">
                    <a class="nav-link active col-6" aria-current="page" href="{% url 'notice:home' %}">
                        공지사항
                    </a>
                    <a class="btn dropdown-toggle dropdown-toggle-split col-2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </a>

                    <ul class="dropdown-menu col-2">
                        <li><a class="dropdown-item" href="{% url 'notice:ai' %}">AI융합 전공</a></li>
                        <li><a class="dropdown-item" href="{% url 'notice:com' %}">컴퓨터공학부</a></li>
                    </ul>
                </div>
            </ul>
        </div>



        <!-- Search Bar -->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 text-end collapse navbar-collapse">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <!-- User -->

        {% if user.is_authenticated %}
        <!-- Alarm -->
        <div class="btn-group me-4 ms-3">
            <button type="button" class="btn btn-danger rounded-circle" data-bs-toggle="dropdown" aria-expanded="false"
                style="width:32px;height:32px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    class="bi bi-bell position-absolute top-50 start-50 translate-middle" viewBox="0 0 16 16">
                    <path
                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end text-small">
                <li><a class="dropdown-item" href="#">Alarm 1</a></li>
                <li><a class="dropdown-item" href="#">Alarm 2</a></li>
                <li><a class="dropdown-item" href="#">Alarm 3</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Alarm 4</a></li>
            </ul>
        </div>

        <!-- My Page -->
        <div class="dropdown text-end">

            <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/profile.jpg' %}" alt="mdo" width="32" height="32" class="rounded-circle">

            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
        {% else %}
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
        {% endif %}


    </nav>
</header>