{% extends "base.html" %}
{% load static %}
{% block page_name %}HUFStack Overflow{% endblock page_name %}
{% block content %}
<div class="position-relative">
    <!-- 여기에 그 한국외대 하얀박스 이미지로 넣기 -->
    <img src="{% static 'img/hufs_title.jpg' %}" class="img-fluid position-absolute"
        style="width:50%; border-radius:0px 30px 30px 0px; margin-top:5%; margin-left:-10%;">
    <img src="{% static 'img/hufs_main.jpg' %}" class="img-fluid float-end" style="width:80%; border-radius:30px;" />

</div>

{% endblock %}