{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_name %}{% endblock page_name %}</title>
    <link rel="stylesheet" href="{% static 'custom/styles.css' %}" />
</head>

<body>
    {% include "partials/header.html" %}
    <main class="d-flex justify-content-around align-middle flex-column col-11">
        {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
    <!-- BootStrap -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>