{% extends "base.html" %}
{% load static %}
{% block page_name %}Check List{% endblock page_name %}
{% block content %}
<div class="container d-flex ">
    <!-- 체크박스를 두면 될 것 같음 -->
    <ul class="list-group me-5" style="width:400px;">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
    <div class="container-fluid d-flex flex-column justify-content-between align-center" style=" width:1500px;">
        <div class="mb-4">
            <h5>왼쪽에서 이수한 과목을 클릭해주시면 총 이수학점과 이수해야할 전공필수 과목을 알려드립니다</h5>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <!-- 결과박스 구현 -->
            </div>

        </div>


    </div>
</div>
{% endblock %}